.CamM{
    height: 250px;
    width: 230px;
}
.CamG{
    height: 250px;
    width: 230px;
}
.CamP{
    height: 250px;
    width: 230px;
}
.div{
    display: inline-block;
}

.h2{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
}